* {
    font-family: Helvetica, sans-serif;
    text-align: center;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* Ensures all containers are width-responsive */
.container {
    flex: display;
    width: min(80%, 70rem);
    padding-inline: 5%;
}