* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background: $background;
	font-family: $sansFont;
}

// Highest level containing the entire page
.page-container {
	position: relative;
	min-height: 100vh;
	width: 100%;
}

// 2nd level contains everything other than the header and footer
.content-wrap {
	height: 100vh;
	padding-block: $navHeight;
	margin-inline: auto;

	@media (max-width: $breakpoint-sm) {
		width: 90vw;
	}

	@media (min-width: #{$breakpoint-sm + 1px}) {
		width: min(90vw, 700px);
	}
}

a {
	text-decoration: none;
	color: $links;
	transition: 0.3s ease;

	&:hover {
		&:link {
			color: $unvisited;
		}

		&:visited {
			color: $visited;
		}
	}
}

.card {
	background: white;
	border-radius: 9px;
	padding: 15px;
	width: 100%;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

	p {
		margin: 0;
	}
}
