$primary: #FA9E26;
$primary-dark: #B36500;

$secondary: #25AEFA;
$secondary-dark: #0070AD;

$accent: #FFDBAB;

$dark: #1D1D1D;

$positive: #21BA45;
$negative: #C10015;
$info: #31CCEC;
$warning: #F2C037;