$navHeight: 60px
$footerHeight: 30px

$sansFont: Outfit, Helvetica, sans-serif
$monoFont: 'Fira Code', monospace

$cardGap: 15px

// Max width at which point current size ends
$breakpoint-sm: 520px

$links: #2c2c2c
$unvisited: #2e70ff
$visited: #ff1f3d

$background: #fdf5ee
$primary   : #f5ae2b
$secondary : #26A69A
$accent    : #9C27B0

$dark      : #1D1D1D

$positive  : #21BA45
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037
